.burgerBtn {
  display: none;
}

.burger {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: end;
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease;
  z-index: 10;
}

.burgerOpen {
  opacity: 1;
  visibility: visible;
}

.burgerContent {
  padding-top: 80px;
  padding-left: 30px;
  width: 274px;
  height: 612px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  color: #000;
  background-color: #fff;
  border-bottom-left-radius: 30px;
  transition: transform 0.2s linear;
  transform: translateX(100%);
}

.burgerOpen .burgerContent {
  transform: translateX(0);
}

.burgerLogo {
  width: 156px;
  padding-bottom: 50px;
}

.burgerList {
  padding-bottom: 90px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.burgerLink {
  font-size: 25px;
  line-height: 34px;
}

.burgerContacts {
  font-size: 16px;
  line-height: 22px;
  opacity: 0.5;
  padding-bottom: 8px;
}

.burgerTel,
.burgerMail {
  font-size: 20px;
  line-height: 30px;
}

@media (max-width: 1199px) {
  .burgerBtn {
    position: relative;
    display: block;
    width: 50px;
    height: 20px;
    cursor: pointer;
  }

  .burgerBtn:after,
  .burgerBtn:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background-color: #000000;
  }

  .burgerBtn:before {
    top: 6px;
    width: 30px;
  }

  .burgerBtnOpen {
    position: absolute;
    top: 0px;
    right: 20px;
    width: 20px;
    background: url(../resources/burger_close.png);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 20;
  }

  .burgerBtnOpen:after,
  .burgerBtnOpen:before {
    display: none;
  }
}

@media (max-width: 767px) {
  .burgerBtn:after {
    width: 38px;
  }

  .burgerBtn:before {
    top: 5px;
    width: 24px;
  }
}
