.burgerBtn {
  display: none;
}

.burger {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: end;
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease;
  z-index: 10;
}

.burgerOpen {
  opacity: 1;
  visibility: visible;
}

.burgerContent {
  position: relative;
  padding-top: 80px;
  padding-left: 30px;
  width: 274px;
  height: 612px;
  overflow: auto;
  color: #000;
  background-color: #fff;
  border-bottom-left-radius: 30px;
  transition: transform 0.2s linear;
  transform: translateX(100%);
}

.burgerOpen .burgerContent {
  transform: translateX(0);
}

@media (max-width: 1199px) {
  .burgerBtn {
    position: absolute;
    right: 40px;
    z-index: 20;
    display: block;
    width: 50px;
    height: 20px;
  }

  .burgerBtn:after,
  .burgerBtn:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
  }

  .burgerBtn:after {
    width: 50px;
    border: 2px solid #000000;
  }

  .burgerBtn:before {
    width: 30px;
    top: 6px;
    border: 2px solid #000000;
  }

  .burgerBtnOpen {
    background-color: red;
  }
}

@media (max-width: 767px) {
}
