.allBtn {
  display: block;
  width: 100%;
  padding: 54px 0;
  border: 1px solid #ad1818;
  border-radius: 5px;
  font-size: 30px;
  line-height: 41px;
  text-align: center;
  text-decoration: none;
  color: #ad1818;
  cursor: pointer;
}

.allBtn:hover {
  color: #ffffff;
  background-color: #ad1818;
}

.allBtn_serviceBtn {
  background: #ad1818;
  color: #ffffff;
}

.allBtn_serviceBtn:hover {
  background: #ffffff;
  color: #ad1818;
}

@media (max-width: 1199px) {
}

@media (max-width: 767px) {
  .allBtn {
    padding: 37px 0 33px;
    border-radius: 4px;
    font-size: 22px;
    line-height: 29px;
  }
}
