.contacts {
  display: flex;
  position: relative;
  padding-top: 74px;
  gap: 108px;
}

.contactTel:before,
.contactMail:before {
  content: "";
  display: block;
  position: absolute;
  top: 25px;
}

.contactTel:before {
  width: 13px;
  height: 22px;
  background-image: url(../resources/icon_mobile.jpg);
}

.contactMail:before {
  width: 24px;
  height: 24px;
  background-image: url(../resources/icon_telegram.png);
}

.tel,
.mail {
  font-size: 60px;
  line-height: 60px;
  text-decoration: none;
  color: #121212;
}

.mail {
  line-height: 40px;
  border-bottom: 2px solid #121212;
}

.tel:hover,
.mail:hover {
  opacity: 0.5;
}
