.contacts {
  display: flex;
  position: relative;
  padding-top: 74px;
  gap: 108px;
}

.contactTel:before,
.contactMail:before {
  content: "";
  display: block;
  position: absolute;
  top: 25px;
}

.contactTel:before {
  width: 13px;
  height: 22px;
  background-image: url(../resources/icon_mobile.jpg);
}

.contactMail:before {
  width: 24px;
  height: 24px;
  background-image: url(../resources/icon_telegram.png);
}

.tel,
.mail {
  font-size: 60px;
  line-height: 60px;
  text-decoration: none;
  color: #121212;
}

.mail {
  line-height: 40px;
  border-bottom: 2px solid #121212;
}

.tel:hover,
.mail:hover {
  opacity: 0.5;
}

@media (max-width: 1199px) {
  .contacts {
    padding-top: 74px;
    gap: 117px;
  }

  .tel,
  .mail {
    font-size: 45px;
  }
}

@media (max-width: 767px) {
  .contacts {
    flex-direction: column;
    padding-top: 58px;
    gap: 58px;
  }

  .contactTel:before {
    width: 10px;
    height: 17px;
    background-size: cover;
    top: 21px;
  }

  .contactMail:before {
    width: 18px;
    height: 18px;
    background-size: cover;
    top: 123px;
  }

  .tel,
  .mail {
    font-size: 35px;
    line-height: 46px;
  }
}

@media (max-width: 315px) {
  .contacts {
    padding-top: 35px;
    gap: 35px;
  }

  .contactTel:before {
    width: 10px;
    height: 17px;
    background-size: cover;
    top: 10px;
  }

  .contactMail:before {
    width: 18px;
    height: 18px;
    background-size: cover;
    top: 75px;
  }

  .tel,
  .mail {
    font-size: 20px;
    line-height: 30px;
  }
}
