.footerList {
  display: flex;
  justify-content: center;
  gap: 55px;
  padding: 60px 10px 87px 0;
}

.footerItem {
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
}

.footerItem a {
  text-decoration: none;
  color: #fff;
}

.footerItem a:hover {
  opacity: 0.5;
}

.footerText {
  padding-bottom: 30px;
  padding-left: 6px;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  opacity: 0.5;
}

@media (max-width: 767px) {
  .footerList {
    gap: 30px;
    padding-top: 30px;
    padding-right: 0;
    padding-bottom: 41px;
  }

  .footerItem {
    font-size: 12px;
    line-height: 16px;
  }

  .footerText {
    padding-bottom: 26px;
    padding-left: 0;
    font-size: 13px;
    line-height: 18px;
  }
}
