h1 {
  font-size: 60px;
  font-weight: 400;
  line-height: 60px;
  text-align: left;
}

h2 {
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  text-transform: uppercase;
  text-align: left;
}

h3 {
  font-size: 30px;
  line-height: 41px;
}

@media (max-width: 1199px) {
  h1 {
    font-size: 50px;
    line-height: 60px;
  }

  h3 {
    font-size: 25px;
    line-height: 34px;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 30px;
    line-height: 32px;
  }

  h2 {
    font-size: 14px;
    line-height: 19px;
  }

  h3 {
    font-size: 18px;
    line-height: 25px;
  }
}

@media (max-width: 500px) {
  h1 {
  }
}
