header {
  padding-top: 33px;
  padding-bottom: 70px;
}

.headerInner {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerLogo {
  width: 126px;
  height: 21px;
  object-fit: contain;
  background: url("../resources/metrika_logo.png");
}

.headerList {
  display: flex;
  gap: 61px;
}

.headerLink {
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  text-transform: uppercase;
  color: #121212;
  text-decoration: none;
}

.headerLink:hover {
  border-bottom: 1px solid #000;
  padding-bottom: 2px;
  opacity: 0.5;
}

@media (max-width: 1199px) {
  header {
    padding-bottom: 74px;
  }

  .headerList {
    display: none;
  }
}

@media (max-width: 767px) {
  header {
    padding-top: 29px;
    padding-bottom: 59px;
  }

  .headerLogo {
    width: 96px;
    height: 16px;
    background: url("../resources/metrika_logo_mobile.png");
  }
}
