header {
  padding: 33px 0 70px;
  width: 1150px;
  margin: 0 auto;
}

.headerLogo {
  display: inline-block;
  width: 126px;
  margin-right: 557px;
}

.headerList {
  display: inline-block;
  vertical-align: top;
}

.headerLink {
  display: inline-block;
  height: 25px;
  line-height: 25px;
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
}

.headerLink a {
  text-decoration: none;
  color: #121212;
}

.headerLink:nth-child(2) {
  margin-left: 57px;
  margin-right: 57px;
}

.headerLink:nth-child(3) {
  margin-right: 56.5px;
}

.headerLink:hover {
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #121212;
  padding-bottom: 25px;
  opacity: 0.5;
}
