.introText {
  max-width: 956px;
  padding-top: 70px;
  padding-bottom: 30px;
}

.introImage {
  position: relative;
  width: 100%;
  height: 500px;
  background: url(../resources/main_image.jpg);
}

.introImageText {
  position: absolute;
  left: 40px;
  bottom: 40px;
  font-size: 20px;
  line-height: 27px;
  color: #ffffff;
  max-width: 430px;
}

@media (max-width: 1199px) {
  .introText {
    padding-top: 74px;
    max-width: 802px;
    font-size: 50px;
  }

  .introImage {
    height: 400px;
    background: url(../resources/main_image_tablet.png);
    background-size: cover;
    background-position: center;
  }

  .introImageText {
    bottom: 30px;
  }
}

@media (max-width: 767px) {
  .introText {
    font-size: 30px;
    line-height: 32px;
    padding-top: 61px;
    padding-bottom: 25px;
    width: 100%;
  }

  .introImage {
    width: 100%;
    height: 304px;
  }

  .introImageText {
    left: 15px;
    bottom: 15px;
    font-size: 16px;
    line-height: 22px;
    max-width: 312px;
  }
}

@media (max-width: 400px) {
  .introImage {
    background: url(../resources/main_image_mobile.png);
    background-size: cover;
    background-position: center;
  }

  .introText {
    max-width: 337px;
  }
}
