.projects {
  margin-top: 150px;
}

.projectBlock {
  margin-bottom: 90px;
}

.projectBlock img {
  width: 100%;
  margin-bottom: 13px;
}

.projectBlock p {
  font-size: 30px;
  line-height: 41px;
  margin-bottom: 15px;
}

.projectBlock a {
  font-size: 20px;
  line-height: 27px;
  padding-left: 2px;
  color: #ad1818;
  text-decoration: none;
}

@media (max-width: 1199px) {
  .projects {
    margin-top: 120px;
  }

  .projectBlock {
    margin-bottom: 80px;
  }

  .projectBlock:last-child {
    margin-bottom: 102px;
  }

  .projectBlock img {
    margin-bottom: 15px;
  }

  .projectBlock p {
    font-size: 25px;
    line-height: 34px;
    margin-bottom: 10px;
  }

  .projectBlock a {
    padding-left: 0px;
  }
}

@media (max-width: 767px) {
  .projects {
    margin-top: 80px;
  }

  .projects h2 {
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 20px;
  }

  .projectBlock {
    margin-bottom: 49px;
  }

  .projectBlock:last-child {
    margin-bottom: 60px;
  }

  .projectBlock img {
    margin-bottom: 20px;
  }

  .projectBlock p {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 11px;
  }

  .projectBlock a {
    font-size: 16px;
    line-height: 22px;
  }
}
