.projects {
  width: 100%;
  margin-top: 150px;
}

.projects h2 {
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 30px;
  text-transform: uppercase;
  width: 100%;
}

.project-block {
  margin-bottom: 90px;
}

.project-block img {
  width: 100%;
  margin-bottom: 13px;
}

.project-block p {
  font-size: 30px;
  line-height: 41px;
  margin-bottom: 15px;
}

.project-block a {
  font-size: 20px;
  line-height: 27px;
  padding-left: 2px;
  color: #ad1818;
  text-decoration: none;
}

@media (max-width: 1199px) {
  .projects {
    margin-bottom: 0;
  }

  .project-block {
    margin-bottom: 80px;
  }

  .project-block:last-child {
    margin-bottom: 102px;
  }

  .project-block img {
    margin-bottom: 15px;
  }

  .project-block p {
    font-size: 25px;
    line-height: 34px;
    margin-bottom: 10px;
  }

  .project-block a {
    padding-left: 0px;
  }
}

@media (max-width: 767px) {
  .projects h2 {
    font-size: 14px;
    line-height: 19px;
  }

  .project-block {
    margin-bottom: 49px;
  }

  .project-block:last-child {
    margin-bottom: 60px;
  }

  .project-block img {
    margin-bottom: 20px;
  }

  .project-block p {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 11px;
  }

  .project-block a {
    font-size: 16px;
    line-height: 22px;
  }
}
