.projects {
  padding-top: 30px;
}

.projectBlock {
  padding-bottom: 90px;
}

.projectBlock h3 {
  padding-top: 13px;
  padding-bottom: 15px;
}

.projectBlock a {
  font-size: 20px;
  line-height: 27px;
  color: #ad1818;
  text-decoration: none;
}

@media (max-width: 1199px) {
  .projectBlock {
    margin-bottom: 76px;
  }

  .projectBlock:last-child {
    margin-bottom: 102px;
  }

  .projectBlock img {
    margin-bottom: 15px;
  }

  .projectBlock p {
    font-size: 25px;
    line-height: 34px;
    margin-bottom: 10px;
  }

  .projectBlock a {
    padding-left: 0px;
  }
}

@media (max-width: 767px) {
  .projects h2 {
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 20px;
  }

  .projectBlock {
    margin-bottom: 50px;
  }

  .projectBlock:last-child {
    margin-bottom: 60px;
  }

  .projectBlock img {
    margin-bottom: 16px;
  }

  .projectBlock p {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 11px;
  }

  .projectBlock a {
    font-size: 16px;
    line-height: 22px;
  }
}
