.reviewsList {
  display: flex;
  flex-wrap: wrap;
  column-gap: 50px;
  row-gap: 80px;
  padding-top: 32px;
}

.reviewBlock {
  width: calc(50% - 25px);
}

.reviewTitle {
  font-size: 45px;
  line-height: 61px;
  padding-bottom: 14px;
}

.reviewBlock p {
  font-size: 22px;
  line-height: 30px;
}

.reviewBlock:last-child:nth-child(odd) {
  width: 75%;
}

@media (max-width: 1199px) {
  .reviewsList {
    column-gap: 10px;
    row-gap: 80px;
  }

  .reviewBlock {
    width: calc(50% - 5px);
  }

  .reviewTitle {
    font-size: 35px;
    line-height: 48px;
    padding-bottom: 25px;
  }

  .reviewBlock p {
    font-size: 20px;
    line-height: 27px;
  }
}

@media (max-width: 767px) {
  .reviewsList {
    flex-direction: column;
    gap: 76px;
    padding-top: 23px;
  }

  .reviewBlock {
    width: 100%;
  }

  .reviewTitle {
    font-size: 25px;
    line-height: 34px;
    padding-bottom: 10px;
  }

  .reviewBlock p {
    font-size: 16px;
    line-height: 22px;
  }

  .reviewBlock:last-child:nth-child(odd) {
    width: 100%;
  }
}
