.services {
  background-color: #121212;
  color: #ffffff;
  background-size: cover;
}

.services-container {
  width: 1150px;
  padding: 151px 0 150px;
  margin: 0 auto;
}

.services h2 {
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 30px;
  text-transform: uppercase;
  width: 100%;
}

.services-list {
  margin-bottom: 106px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 85px;
  justify-content: space-between;
}

.service-block {
  width: calc(50% - 5px);
}

.serviceImg {
  position: relative;
  height: 389px;
  margin-bottom: 25px;
}

.plan {
  background: url(../resources/service_plan.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.palette {
  background: url(../resources/service_palette.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.ruler {
  background: url(../resources/service_ruler.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.storage {
  background: url(../resources/service_storage.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.serviceImg p {
  position: absolute;
  left: 30px;
  top: 31px;
  font-size: 20px;
  line-height: 27px;
  color: #ffffff;
  padding: 5px 20px;
  background: #ad1818;
  border-radius: 5px;
}

.service-text {
  font-size: 30px;
  line-height: 41px;
}

.services-container a {
  display: inline-block;
  font-size: 30px;
  line-height: 41px;
  padding: 56px 0;
  width: 100%;
  background: #ad1818;
  border-radius: 5px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
}

@media (max-width: 1199px) {
  .services-container {
    width: 100%;
    padding: 151px 15px 120px;
    margin: 0 auto;
  }

  .services-list {
    margin-bottom: 80px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 80px;
  }

  .service-block {
    width: calc(50% - 5px);
  }

  .serviceImg {
    position: relative;
    width: 100%;
    height: 315px;
    margin-bottom: 15px;
  }

  .plan {
    background: url(../resources/service_plan_tablet.png);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .palette {
    background: url(../resources/service_palette_tablet.png);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .ruler {
    background: url(../resources/service_ruler_tablet.png);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .storage {
    background: url(../resources/service_storage_tablet.png);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .serviceImg p {
    position: absolute;
    left: 32px;
    top: 32px;
    font-size: 20px;
    line-height: 27px;
    color: #ffffff;
    padding: 7px 27px;
    background: #ad1818;
    border-radius: 5px;
  }

  .service-text {
    font-size: 25px;
    line-height: 34px;
  }

  .services-container a {
    display: inline-block;
    font-size: 30px;
    line-height: 41px;
    padding: 56px 0;
    width: 100%;
    background: #ad1818;
    border-radius: 5px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
  }
}

@media (max-width: 767px) {
  .services-container {
    width: 100%;
    padding: 80px 12px;
    margin: 0 auto;
  }

  .services h2 {
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 20px;
  }

  .services-list {
    margin-bottom: 60px;
    gap: 60px;
  }

  .service-block {
    position: relative;
    width: 100%;
  }

  .serviceImg {
    height: 240px;
    margin-bottom: 10px;
  }

  .plan {
    background: url(../resources/service_plan_phone.png);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .palette {
    background: url(../resources/service_palette_phone.png);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .ruler {
    background: url(../resources/service_ruler_phone.png);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .storage {
    background: url(../resources/service_storage_phone.png);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .serviceImg p {
    position: absolute;
    left: 24px;
    top: 24px;
    font-size: 14px;
    line-height: 19px;
    color: #ffffff;
    padding: 5px 25px;
    background: #ad1818;
    border-radius: 4px;
  }

  .service-text {
    font-size: 18px;
    line-height: 25px;
  }

  .services-container a {
    display: inline-block;
    font-size: 22px;
    line-height: 30x;
    padding: 37px 0;
    width: 100%;
    background: #ad1818;
    border-radius: 4px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
  }
}
