.services {
  background-color: #121212;
  color: #ffffff;
  background-size: cover;
}

.servicesContainer {
  width: 1150px;
  padding: 151px 0 150px;
  margin: 0 auto;
}

.servicesList {
  margin-bottom: 96px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 85px;
  column-gap: 10px;
}

.serviceBlock {
  width: calc(50% - 5px);
}

.serviceImg {
  position: relative;
  height: 389px;
  margin-bottom: 25px;
}

.plan {
  background: url(../resources/service_plan.png);
}

.palette {
  background: url(../resources/service_palette.png);
}

.ruler {
  background: url(../resources/service_ruler.png);
}

.storage {
  background: url(../resources/service_storage.png);
}

.serviceImg p {
  position: absolute;
  left: 30px;
  top: 31px;
  font-size: 20px;
  line-height: 27px;
  color: #ffffff;
  padding: 5px 20px;
  background: #ad1818;
  border-radius: 5px;
}

.serviceText {
  font-size: 30px;
  line-height: 41px;
}

@media (max-width: 1199px) {
  .servicesContainer {
    width: 100%;
    padding: 151px 15px 120px;
  }

  .servicesList {
    margin-bottom: 87px;
  }

  .serviceImg {
    height: 315px;
    margin-bottom: 15px;
  }

  .plan {
    background: url(../resources/service_plan_tablet.png);
    background-size: cover;
  }

  .palette {
    background: url(../resources/service_palette_tablet.png);
    background-size: cover;
  }

  .ruler {
    background: url(../resources/service_ruler_tablet.png);
    background-size: cover;
  }

  .storage {
    background: url(../resources/service_storage_tablet.png);
    background-size: cover;
  }

  .serviceImg p {
    left: 32px;
    top: 32px;
    padding: 7px 27px;
  }

  .serviceText {
    font-size: 25px;
    line-height: 34px;
  }
}

@media (max-width: 767px) {
  .servicesContainer {
    padding: 80px 12px;
  }

  .services h2 {
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 20px;
  }

  .servicesList {
    gap: 65px;
    margin-bottom: 67px;
  }

  .serviceBlock {
    width: 100%;
  }

  .serviceImg {
    height: 240px;
    margin-bottom: 10px;
  }

  .plan {
    background: url(../resources/service_plan_phone.png);
    background-size: cover;
  }

  .palette {
    background: url(../resources/service_palette_phone.png);
    background-size: cover;
  }

  .ruler {
    background: url(../resources/service_ruler_phone.png);
    background-size: cover;
  }

  .storage {
    background: url(../resources/service_storage_phone.png);
    background-size: cover;
  }

  .serviceImg p {
    left: 24px;
    top: 24px;
    font-size: 14px;
    line-height: 19px;
    padding: 5px 25px;
    border-radius: 4px;
  }

  .serviceText {
    font-size: 18px;
    line-height: 25px;
  }
}
