@import "../styles/about.css";
@import "../styles/contacts.css";
@import "../styles/intro.css";
@import "../styles/footer.css";
@import "../styles/gallery.css";
@import "../styles/header.css";
@import "../styles/projects.css";
@import "../styles/services.css";
@import "../styles/reviews.css";
@import "../styles/buttons.css";
@import "../styles/gallery.css";
@import "../styles/heading.css";
@import "../styles/popup.css";
@import "../styles/burger.css";

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Manrope", sans-serif;
  width: 100%;
}

h1,
h2,
h3,
p,
a,
div {
  letter-spacing: -0.03em;
}

main {
  background: #ffffff;
}

section {
  margin: 0 auto;
  width: 1150px;
}

.sectionPaddTop {
  padding-top: 150px;
}

.sectionPaddBottom {
  padding-bottom: 150px;
}

.containerBlack {
  background-color: #121212;
  color: #ffffff;
  width: 100%;
}

@media (max-width: 1199px) {
  section {
    width: 100%;
    padding: 0 17px 0 15px;
  }

  .sectionPaddTop {
    padding-top: 120px;
  }

  .sectionPaddBottom {
    padding-bottom: 120px;
  }
}

@media (max-width: 767px) {
  section {
    padding: 0 12px 0 13px;
  }

  .sectionPaddTop {
    padding-top: 80px;
  }

  .sectionPaddBottom {
    padding-bottom: 80px;
  }
}
