body {
    font-family: 'Manrope', sans-serif;
    width: 1400px;
    margin: 0 auto;
}

.description,
.about,
.projects {
    margin: 0 125px 150px;
    color: #121212;
}

.description h1 {
    width: 956px;
    min-height: 120px;
    margin-bottom: 30px;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -0.03em;
    color: #121212;
}

.background-image {
    position: relative;
    height: 500px;
    background: url(../resourses/main_image.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.description p {
    position: absolute;
    left: 40px;
    bottom: 40px;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
    letter-spacing: -0.03em;
    max-width: 430px;
    min-height: 81px;
}

.about h2,
.projects h2,
.services h2,
.contact h2 {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: -0.03em;
}

.about p {
    font-size: 45px;
    line-height: 61px;
    width: 1048px;
    margin: 0 0 30px 3px;
    letter-spacing: -0.03em;
}

.about a {
    display: block;
    width: 255px;
    height: 67px;
    background: #AD1818;
    border-radius: 5px;
    font-size: 20px;
    letter-spacing: -0.03em;
    line-height: 67px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
}

.project-block {
    margin-bottom: 90px;
}

.project-block img {
    width: 100%;
    margin-bottom: 15px;
}

.project-block p {
    font-size: 30px;
    line-height: 41px;
    letter-spacing: -0.03em;
    margin-bottom: 15px;
}

.project-block a {
    font-size: 20px;
    line-height: 27px;
    color: #AD1818;
    letter-spacing: -0.03em;
    text-decoration: none;
}

.projects-btn {
    width: 100%;
    height: 153px;
    font-size: 30px;
    letter-spacing: -0.03em;
    color: #AD1818;
    border: 1px solid #AD1818;
    border-radius: 5px;
    background: #FFF;
    padding: 0;
}

.projects-btn:hover {
    color: #FFFFFF;
    background-color: #AD1818;
}

.services {
    box-sizing: border-box;
    width: 100%;
    background-color: #121212;
    color: #FFFFFF;
}

.services-container {
    width: 1150px;
    padding: 151px 125px 150px;
}

.services h2 {
    margin-bottom: 0;
    padding-bottom: 34px;
}

.service-block {
    box-sizing: border-box;
    margin-bottom: 60px;
    height: 326px;
}

.service-block p {
    font-size: 30px;
    line-height: 41px;
    letter-spacing: -0.03em;
    padding: 15px 0 60px;
}

.service-block:last-child {
    margin-bottom: 0;
}


.service-footer {
    position: relative;
    height: 717px;
    background: url(../resourses/service_footer.jpg);
    margin-bottom: 150px;
}

.service-footer p {
    position: absolute;
    left: 125px;
    bottom: 60px;
    font-size: 30px;
    line-height: 41px;
    letter-spacing: -0.03em;
    max-width: 443px;
    min-height: 82px;
    color: #FFFFFF;
}

.contact {
    margin: 0 125px 160px;
    color: #121212;
}

.contact h2 {
    margin: 13px 0 32px;
}

.contact p {
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -0.03em;
    margin-bottom: 30px;
}

.contact a {
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -0.03em;
    opacity: 0.5;
    text-decoration: none;
    color: #121212;
}

.contact-underline {
    width: 406px;
    margin-top: 10px;
    border: 2px solid #121212;
    opacity: 0.5;
}